<% form_for(@category) do |f| %>

<div class="category_name">
	<%= f.label :category_name %>
	<%= f.text_field :category_name %>
</div>

<div class="description">
</div>

<div class="submit">
</div>

<% end -%>